<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Username" value="Dziaczakra"/>
    <add key="Password" value="AmIpro94"/>
    <add key="WorldNumber" value="153"/>

    <add key="ShowConsole" value="false"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>